@charset "UTF-8";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238592b1'/%3E%3Cstop offset='1' stop-color='%238592b1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c7d8e3'/%3E%3Cstop offset='1' stop-color='%23c7d8e3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234c6b95'/%3E%3Cstop offset='1' stop-color='%234c6b95' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230A2463'/%3E%3Cstop offset='1' stop-color='%230A2463' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238EB1C7'/%3E%3Cstop offset='1' stop-color='%238EB1C7' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    /* background by SVGBackgrounds.com*/
}

main {
    /* width:70%; */
    display: grid;
    grid-template: 40% 50% 1fr / 1fr 30% 22% 1fr;
    /* align-items: center; */
    column-gap: 30px;
}

#header {
    display: flex;
    align-items: center;
    grid-area: 1 / 2 / span 1 / span 1;
}

h1 {
    font-family: 'Righteous';
    font-size: 4.5em;
}

article {
    font-size: 1.5em;
}

.form {
    background-color: #FFFFFF;
    border-radius: 6px;
    padding:30px;
}

/* section {
    width:40%;
    margin:0 auto;
} */

.left {
    /* border:1px solid black; */
    grid-area: 2 / 2 / span 1 / span 1;
    max-width: 100%;
}
.right {
    /* border:1px solid black; */
    grid-area: 2 / 3 / span 1 / span 1;
}

header {
    font-size: 1.75em;
    font-weight: 600;
    color:#0A2463;
    text-align: center;
}

.form .field {
    position: relative;
    height: 50px;
    width:100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field button,
.field input{
    height:100%;
    width:100%;
    border: none;
    font-size: 16px;
    font-weight:400;
    border-radius: 6px;
}
.field input{
    padding: 0 15px;
    border: 1px solid #bbb;
    outline: none;
}
.field input:focus{
    border-bottom-width:2px;
}
.eye-icon{
    position: absolute;
    font-size: 18px;
    color:#8b8b8b;
    top:50%;
    right:10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}
.field button {
    background-color: #0A2463;
    color:#FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover {
    background-color: #8EB1C7;
}
.form-link{
    text-align: center;
    margin-top:10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight:400;
}

.form a{
    text-decoration: none;
    color:#0A2463;

}
.form a:hover{
    text-decoration: underline;
}

@media only screen and (max-width:480px) {
    main {
        display: block;
        width:90%;
        margin: 10% auto;
        text-align: center;
    }
    img{
        width:50%;
        height: auto;
    }
    #header{
        display:block;
        margin-bottom:20px;
    }
    h1{
        font-size: 3em;
    }
    article{
        font-size:1.2em ;
    }
    .right {
        margin-top: 20px;
    }
}

@media only screen and (max-width:786px) {
    /* main {
        grid-template: 40% 50% 1fr / 1fr 36% 36% 1fr;
        text-align: center;
        align-items: center;
    } */
    main {
        display: block;
        width:75%;
        margin: 10% auto;
        text-align: center;
    }
    #header img {
        width:30%;
    }
    #header{
        display:block;
        margin-bottom:20px;
    }
    h1{
        font-size: 3em;
    }
    article{
        font-size:1.2em ;
    }
    .right {
        margin-top: 20px;
    }
}

@media only screen and (max-width:1024px) {
    main {
        grid-template: 2fr 50% 1fr / 1fr 36% 36% 1fr;
        text-align: center;
        align-items: center;
    }
    #header{
        display:block;
        margin-bottom:20px;
    }
    img{
        width:60%;
        height: auto;
    }
    h1{
        font-size: 3em;
    }
    article{
        font-size:1.2em ;
    }
}

@media only screen and (max-width:1440px) {
    main {
        grid-template: 40% 50% 1fr / 1fr 30% 30% 1fr;
        /* text-align: center; */
        align-content: center;
    }
    #header{
        display:block;
        margin-bottom:20px;
    }
    img{
        width:60%;
        height: auto;
    }
    h1{
        font-size: 3em;
    }
    article{
        font-size:1.25em;
    }
}