@charset "UTF-8";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238592b1'/%3E%3Cstop offset='1' stop-color='%238592b1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c7d8e3'/%3E%3Cstop offset='1' stop-color='%23c7d8e3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234c6b95'/%3E%3Cstop offset='1' stop-color='%234c6b95' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230A2463'/%3E%3Cstop offset='1' stop-color='%230A2463' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%238EB1C7'/%3E%3Cstop offset='1' stop-color='%238EB1C7' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* background by SVGBackgrounds.com*/
}

.container {
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;;
}

.form {
    background-color: #FFFFFF;
    border-radius: 6px;
    max-width: 430px;
    width: 100%;
    padding:30px;
}
/* .form.signup {
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
} */
header {
    font-size: 28px;
    font-weight: 600;
    color:#0A2463;
    text-align: center;
}

form {
    margin-top: 30px;
}
.form .field {
    position: relative;
    height: 50px;
    width:100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field button,
.field input{
    height:100%;
    width:100%;
    border: none;
    font-size: 16px;
    font-weight:400;
    border-radius: 6px;
}
.field input{
    padding: 0 15px;
    border: 1px solid #bbb;
    outline: none;
}
.field input:focus{
    border-bottom-width:2px;
}
.eye-icon{
    position: absolute;
    font-size: 18px;
    color:#8b8b8b;
    top:50%;
    right:10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}
.field button {
    background-color: #0A2463;
    color:#FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover {
    background-color: #8EB1C7;
}
.form-link{
    text-align: center;
    margin-top:10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight:400;
}

.form a{
    text-decoration: none;
    color:#0A2463;

}
.form a:hover{
    text-decoration: underline;
}

@media screen and (max-width:400px) {
    .form {
        padding: 15px 10px;
    }
}